@import url('https://fonts.googleapis.com/css?family=Lusitana');

body {
  font-family: 'Lusitana', serif;
}
#slideshow {
  min-width: 480px;
}
header {
  text-align: right;
  padding: 10px;
}
header img {
  margin-right: 2em;
}
#projectListNav li.titlePage {
  height: 600px;
}
.name {
  font-family: cursive;
  font-size: 3em;
  text-align: center;
  padding: 15% 0;
}
.desc {
  font-size: 20px;
  text-align: center;
}
/*#slideshow div {
  max-height: 1000px;
  max-width: 960px;
  display: block;
  border: 1px solid black;
  margin: 0 auto;
}*/
.article-body img {
  width: 100%;
}
h1 {
  font-size: 3.157em;
}
h2 {
  font-size: 2.369em;
}
h3 {
  font-size: 1.777em;
}
h4, .article-body, time {
  font-size: 1.333em;
}
